@charset "UTF-8";
.p-button {
	background: transparent;
	font-weight: 700;
	display: flex;
	align-items: center;
}

.p-button:hover {
	background: #0f0f0f;
	color: #eee;
}

.p-button-white {
	border-color: transparent;
	font-weight: 700;
}

.p-button-white:hover {
	border-color: #fff;
}

.portfolio-one-slider.slick-slider {
	margin-bottom: 40px;
}

.portfolio-one-slider.slick-slider .slick-dots {
	position: absolute;
	left: 50%;
	bottom: -20px;
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.portfolio-one-slider.slick-slider .slick-dots li {
	position: relative;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 4px;
	padding: 0;
	cursor: pointer;
}

.portfolio-one-slider.slick-slider .slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 8px;
	height: 8px;
	padding: 2px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: 0 0;
}

.portfolio-one-slider.slick-slider .slick-dots li button::before {
	content: ' ';
	border: 1px solid #000;
	border-radius: 8px;
	position: absolute;
	width: 8px;
	height: 8px;
	text-align: center;
	opacity: 1;
	top: 0;
	left: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.portfolio-one-slider.slick-slider .slick-dots li button:hover::before {
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.portfolio-one-slider.slick-slider .slick-dots li.slick-active button::before {
	background-color: #000;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

@media (max-width: 790px) {
	.p-button {
		font-size: 14px;
	}
	.p-button-white {
		font-size: 14px;
	}
}

.portfolio-h-block {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.portfolio-h-block-content {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(15, 15, 15, 0.2)),
		to(rgba(15, 15, 15, 0.4))
	);
	background: linear-gradient(
		180deg,
		rgba(15, 15, 15, 0.2) 0%,
		rgba(15, 15, 15, 0.4) 100%
	);
	height: 100%;
}

.portfolio-h-block-content .container {
	height: 100%;
}

.portfolio-h-block-content-wrap” {
	padding-top: 84px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.portfolio-h-block__title {
	font-size: 58px;
	line-height: 1;
	font-weight: bold;
	color: #eee;
	width: 396px;
}

.portfolio-h-block__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	color: rgba(238, 238, 238, 0.7);
	padding-top: 15px;
}

.portfolio-h-block__contact-us {
	margin-top: 23px;
}

@media (max-width: 790px) {
	.portfolio-h-block-content-wrap {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding-bottom: 8vh;
	}
	.portfolio-h-block__title {
		font-size: 42px;
		padding-top: 20px;
	}
	.portfolio-h-block__text {
		margin-top: 10px;
		font-size: 14px;
	}
	.portfolio-h-block__contact-us {
		margin-top: 20px;
	}
}

@media (max-width: 470px) {
	.portfolio-h-block__title {
		font-size: 32px;
	}
	.portfolio-h-block__text {
		font-size: 12px;
	}
	.portfolio-h-block__contact-us {
		margin-top: 20px;
	}
}

.portfolio-about-content {
	padding-top: 80px;
	background-color: #fff;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.portfolio-about-left {
	width: 60%;
	color: #0f0f0f;
	padding-left: calc((100% - 1450px) / 2);
}

.portfolio-about-left-wrap {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.portfolio-about-left-img {
	width: 100%;
}

.portfolio-about-left__img {
	max-width: 100%;
}

.portfolio-about-right {
	width: 40%;
	color: #0f0f0f;
	padding-right: calc((100% - 1450px) / 2);
}

.portfolio-about-right-wrap {
	padding: 20vh 0 20vh 100px;
}

.portfolio-about-right-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.portfolio-about__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1;
	padding-top: 16px;
}

.portfolio-about__content {
	margin-top: 18px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
}

.portfolio-about__content p {
	padding-bottom: 1em;
}

.portfolio-about__contact-us {
	margin-top: 20px;
}

@media (max-width: 1550px) {
	.portfolio-about-content {
		padding-top: 60px;
	}
	.portfolio-about-left {
		padding-left: calc((100% - 1250px) / 2);
	}
	.portfolio-about-right {
		padding-right: calc((100% - 1250px) / 2);
	}
	.portfolio-about-right-wrap {
		padding: 15vh 0 15vh 80px;
	}
}

@media (max-width: 1350px) {
	.portfolio-about-content {
		padding-top: 60px;
	}
	.portfolio-about-left {
		width: 50%;
		padding-left: calc((100% - 960px) / 2);
	}
	.portfolio-about-right {
		width: 50%;
		padding-right: calc((100% - 960px) / 2);
	}
	.portfolio-about-right-wrap {
		padding: 10vh 0 10vh 80px;
	}
}

@media (max-width: 991px) {
	.portfolio-about-content {
		padding-top: 80px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.portfolio-about-left {
		width: 750px;
		padding-left: unset;
		margin-left: auto;
		margin-right: auto;
	}
	.portfolio-about-right {
		width: 750px;
		padding-right: unset;
		margin-left: auto;
		margin-right: auto;
	}
	.portfolio-about-right-wrap {
		padding: 40px 0 80px;
	}
}

@media (max-width: 790px) {
	.portfolio-about-content {
		padding: 80px 22px 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.portfolio-about-left {
		width: 100%;
		padding-left: unset;
		margin-left: auto;
		margin-right: auto;
	}
	.portfolio-about-right {
		width: 100%;
		padding-right: unset;
		margin-left: auto;
		margin-right: auto;
	}
	.portfolio-about-right-wrap {
		padding: 0 0 20px;
	}
	.portfolio-about__title {
		font-size: 28px;
		padding-top: 20px;
	}
	.portfolio-about__content {
		margin-top: 10px;
		font-size: 12px;
	}
	.portfolio-about__contact-us {
		margin-top: 20px;
	}
}

@media (max-width: 470px) {
	.portfolio-about-content {
		padding: 22px 22px 0;
	}
	.portfolio-about__title {
		font-size: 22px;
	}
	.portfolio-about__contact-us {
		width: 100%;
		text-align: center;
	}
}

.portfolio-one {
	background-color: #fff;
	color: #000;
}

.portfolio-one-wrap {
	padding: 40px 0 40px;
}

.portfolio-one__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1;
}

.portfolio-one__content {
	margin-top: 16px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
}

.portfolio-one__content p:not(:last-child) {
	padding-bottom: 1em;
}

.portfolio-one-content {
	margin-bottom: 32px;
}

.portfolio-one__img {
	max-width: 100%;
}

@media (max-width: 790px) {
	.portfolio-one-wrap {
		padding: 40px 0 40px;
	}
	.portfolio-one__title {
		font-size: 28px;
	}
	.portfolio-one__content {
		margin-top: 14px;
		font-size: 12px;
	}
	.portfolio-one-content {
		margin-bottom: 22px;
	}
	.portfolio-one__img {
		max-width: 100%;
	}
}

@media (max-width: 470px) {
	.portfolio-one-wrap {
		padding: 22px 0;
	}
	.portfolio-one__title {
		font-size: 22px;
	}
	.portfolio-one__content {
		margin-top: 10px;
	}
	.portfolio-one-content {
		margin-bottom: 16px;
	}
	.portfolio-one__img {
		max-width: 100%;
	}
}

.portfolio-goal {
	background-color: #f8f8f8;
	color: #000;
}

.portfolio-goal-wrap {
	padding: 70px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.portfolio-goal-left {
	width: 60%;
	padding: 5vh 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.portfolio-goal-left-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 45%;
}

.portfolio-goal__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1;
}

.portfolio-goal__content {
	margin-top: 16px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
}

.portfolio-goal__content p:not(:last-child) {
	padding-bottom: 1em;
}

.portfolio-goal__btn {
	margin-top: 23px;
}

.portfolio-goal__btn.mob {
	display: none;
}

.portfolio-goal-right {
	width: 40%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: relative;
	padding-right: 9px;
}

.portfolio-goal-right-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}

.portfolio-goal-right-wrap::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: -5%;
	left: 36px;
	width: calc(50% - 13px);
	height: 110%;
	opacity: 0.1;
	background: repeating-linear-gradient(
		-45deg,
		#f8f8f8,
		#f8f8f8 2px,
		#111113 2px,
		#111113 4px
	);
}

.portfolio-goal-right-wrap::after {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	top: -5%;
	right: -10px;
	width: calc(50% - 13px);
	height: 110%;
	opacity: 0.1;
	background: repeating-linear-gradient(
		45deg,
		#f8f8f8,
		#f8f8f8 2px,
		#111113 2px,
		#111113 4px
	);
}

.portfolio-goal-item {
	width: 50%;
	padding: 9px;
	position: relative;
	z-index: 2;
}

.portfolio-goal-item-wrap {
	background-color: #fff;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 25px 32px;
}

.portfolio-goal-item__num {
	font-weight: 900;
	font-size: 28px;
	line-height: 1;
}

.portfolio-goal-item__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	color: rgba(17, 17, 19, 0.7);
}

@media (max-width: 1550px) {
	.portfolio-goal-left {
		width: 55%;
	}
	.portfolio-goal-left-wrap {
		margin-right: 40%;
	}
	.portfolio-goal-right {
		width: 45%;
	}
}

@media (max-width: 1350px) {
	.portfolio-goal-left {
		width: 50%;
	}
	.portfolio-goal-left-wrap {
		margin-right: 25%;
	}
	.portfolio-goal-right {
		width: 50%;
	}
}

@media (max-width: 991px) {
	.portfolio-goal-left {
		width: 100%;
	}
	.portfolio-goal-left-wrap {
		margin-right: 25%;
	}
	.portfolio-goal-right {
		width: 100%;
	}
	.portfolio-goal-item__text {
		margin-top: 25px;
	}
}

@media (max-width: 790px) {
	.portfolio-goal-wrap {
		padding: 30px 0;
	}
	.portfolio-goal-left {
		padding: 20px 0 40px;
	}
	.portfolio-goal-left-wrap {
		margin-right: 0;
	}
	.portfolio-goal__title {
		font-size: 28px;
	}
	.portfolio-goal__content {
		margin-top: 10px;
		font-size: 12px;
	}
	.portfolio-goal__btn {
		display: none;
	}
	.portfolio-goal__btn.mob {
		display: block;
	}
	.portfolio-goal-item {
		width: 50%;
		padding: 9px;
		position: relative;
		z-index: 2;
	}
	.portfolio-goal-item-wrap {
		padding: 14px 16px;
	}
	.portfolio-goal-item__num {
		font-size: 28px;
	}
	.portfolio-goal-item__text {
		font-size: 12px;
	}
}

@media (max-width: 470px) {
	.portfolio-goal__title {
		font-size: 22px;
	}
	.portfolio-goal__btn {
		width: 100%;
		text-align: center;
	}
	.portfolio-goal-right-wrap::before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: -3%;
		left: 24px;
		width: calc(50% - 8px);
		height: 106%;
		opacity: 0.1;
		background: repeating-linear-gradient(
			-45deg,
			#f8f8f8,
			#f8f8f8 2px,
			#111113 2px,
			#111113 4px
		);
	}
	.portfolio-goal-right-wrap::after {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: -3%;
		right: -8px;
		width: calc(50% - 8px);
		height: 106%;
		opacity: 0.1;
		background: repeating-linear-gradient(
			45deg,
			#f8f8f8,
			#f8f8f8 2px,
			#111113 2px,
			#111113 4px
		);
	}
	.portfolio-goal-item {
		width: 100%;
		padding: 4px;
		position: relative;
		z-index: 2;
	}
	.portfolio-goal-item-wrap {
		padding: 14px 16px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.portfolio-goal-item__num {
		font-size: 22px;
		width: 80px;
	}
	.portfolio-goal-item__text {
		margin-top: 0;
		width: calc(100% - 80px);
	}
}
